@use 'variables' as *;

.admin-page {
	position: relative;
	padding-right: 60px;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #f5f7fc;

	.tab-menu {
		position: fixed;
		padding: 170px 60px 0;
		top: 0;
		left: 0;
		width: 360px;
		min-height: 100%;
		border: 1px solid #ecedf2;
		background-color: #fff;
		box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
		display: flex;
		flex-direction: column;
		box-sizing: border-box;

		.tab {
			padding: 0 20px;
			width: 100%;
			height: 50px;
			display: flex;
			align-items: center;
			border-radius: 8px;
			box-sizing: border-box;
			cursor: pointer;

			&.active {
				background: #e8f0fb;

				span {
					color: #1967d2;
				}

				svg {
					path {
						fill: #1967d2;
					}
				}
			}

			span {
				margin-left: 20px;
				color: #696969;
				font-family: $font;
				font-size: 15px;
				font-style: normal;
				font-weight: 400;
			}

			svg {
				path {
					fill: #696969;
				}
			}
		}
	}

	.tab-content {
		padding: 60px 0;
		width: calc(100% - 420px);
		display: flex;
		flex-direction: column;

		.main-title {
			color: #202124;
			font-family: $font;
			font-size: 30px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		.main-desc {
			margin: 10px 0 60px;
			color: #696969;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.content {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;

			.wrap {
				margin-bottom: 30px;
				padding: 30px;
				width: 100%;
				height: auto;
				border-radius: 8px;
				border: 1px solid #ecedf2;
				background: #fff;
				box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
				box-sizing: border-box;

				.title {
					color: #202124;
					font-family: $font;
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.filter-box {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;

					.filter {
						display: flex;
						flex-direction: row;

						.sort-box {
							width: auto;
							min-width: 130px;
							height: 45px;
							margin-left: 10px;

							div {
								padding: 10px;
								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: center;
								border-radius: 8px;
								background: #f0f5f7;
								color: #696969;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;

								svg {
									margin-left: 10px;
								}
							}
						}
					}
				}

				.table-wrap {
					margin-top: 30px;

					td,
					th {
						font-family: $font;
					}

					thead th {
						font-size: 16px;
					}

					tbody td {
						color: #202124;
						font-family: $font;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}

					.img-box {
						display: flex;
						flex-direction: row;
						align-items: center;

						img {
							margin-right: 10px;
							width: 50px;
							height: 50px;
							border-radius: 50%;
						}
					}

					.data-status {
						color: #34a853;
						font-family: $font;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}

					.switch-box {
						display: flex;
						justify-content: center;
					}
				}

				.pagination-box {
					margin-top: 50px;
					width: 100%;
					height: auto;
					display: flex;
					flex-direction: row;
					justify-content: center;
				}
			}
		}
	}
}

.accordion-box {
	margin-top: 30px;
	display: flex;
	flex-direction: column;

	.title-text {
		width: 50%;
		color: #1967d2;
		font-family: $font;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.total-text {
		width: 20%;
		color: #1967d2;
		font-family: $font;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.approved-text {
		width: 20%;
		color: #34a853;
		font-family: $font;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.rejected-text {
		color: #d93025;
		font-family: $font;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.card-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		.my-candidate-card {
			padding: 30px;
			width: 100%;
			display: flex;
			flex-direction: row;
			border-radius: 8px;
			border: 1px solid #ecedf2;
			background: #fff;
			box-sizing: border-box;
			transition: transform 0.3s;
			cursor: pointer;

			&:hover {
				opacity: 1;
				transform: scale(1.03);
				box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
			}

			.user-img {
				width: 90px;
				height: 90px;
				border-radius: 50px;
				cursor: pointer;
			}

			.main-info {
				width: 80%;
				margin-left: 20px;
				display: flex;
				flex-direction: column;

				.job-title {
					color: #202124;
					font-family: $font;
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					cursor: pointer;
				}

				.main {
					margin-top: 6px;
					margin-bottom: 10px;
					display: flex;
					flex-direction: row;

					div {
						margin-right: 10px;
						display: flex;
						flex-direction: row;
						align-items: center;

						img {
							width: 18px;
							height: 18px;
						}

						span {
							margin-left: 10px;
							color: #696969;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}

						strong {
							color: #1967d2;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
				}

				.badges {
					display: flex;
					flex-direction: row;

					div {
						padding: 7px 20px;
						margin-right: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 30px;
						background: #f0f5f7;
						color: #696969;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
			}

			.action-info {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				div {
					width: 40px;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 8px;
					background: #eff4fc;
					cursor: pointer;

					&:nth-child(2) {
						margin: 0 10px;
					}

					svg {
						width: 20px;
						height: 20px;
						color: #1967d2;
					}

					&.active,
					&:hover {
						background-color: #1967d2;

						svg {
							color: #fff;
						}
					}
				}
			}
		}
	}
}