@use './variables' as *;

.job-card {
    padding: 30px;
    min-height: 156px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #ecedf2;
    background: #fff;
    box-sizing: border-box;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
        opacity: 1;
        transform: scale(1.02);
        box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);

        svg {
            visibility: visible;
        }
    }

    .logo {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
    }

    .main-info {
        flex-basis: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        .job-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #202124;
            font-family: $font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
        }

        .main {
            margin-top: 16px;
            margin-bottom: 19px;

            display: flex;
            flex-direction: row;

            div {
                width: calc(100% / 4);
                margin-right: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                img {
                    width: 18px;
                    height: 18px;
                }

                span {
                    margin-left: 10px;
                    color: #696969;
                    font-family: $font;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        .badges {
            display: flex;
            flex-direction: row;

            div {
                margin-right: 15px;
                width: 90px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 60px;

                font-family: $font;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &:nth-child(1) {
                    background: #dde8f8;
                    color: #1967d2;
                }

                &:nth-child(2) {
                    background: #e1f2e5;
                    color: #34a853;
                }

                &:nth-child(3) {
                    background: #fef2d9;
                    color: #f9ab00;
                }
            }
        }
    }

    svg {
        cursor: pointer;
        visibility: hidden;
    }
}