@use "./reset.scss" as *;
@use "./variables.scss" as *;
@use "../font/stylesheet.css";
@use "./home.scss";

.container {
  display: flex;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 9;
  width: 100%;

  .container {
    padding: 30px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .router-section {
      width: 804px;

      .router-main {
        display: flex;
        flex-direction: row;

        .router {
          margin-right: 40px;

          a {
            color: rgba(32, 33, 36, 1);

            font-family: $font;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0%;
            text-align: left;
          }
        }
      }
    }

    .login-user-box {
      width: 276px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .login-user {
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }

        span {
          margin-left: 10px;
          margin-right: 10px;
          color: var(--Color-Two, rgba(32, 33, 36, 1));

          font-family: $font;
          font-size: 15px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
    }

    .login-section {
      width: 276px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .reg-btn {
        width: 106px;
        height: 50px;
        border-radius: 8px;
        background: #eff4fc;

        color: var(--Color-One, rgba(25, 103, 210, 1));

        font-family: $font;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
      }

      .login-btn {
        width: 140px;
        height: 50px;
        border-radius: 8px;
        background: var(--Color-One, rgba(25, 103, 210, 1));

        color: var(--Color-White, rgba(255, 255, 255, 1));

        font-family: $font;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
      }
    }
  }
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ecedf2;
  background-color: #fff;

  .main-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .container {
      padding: 45px 0px;
      flex-direction: column;

      .top {
        display: flex;
        flex-direction: row;

        .main-info {
          width: 35%;
          display: flex;
          flex-direction: column;

          img {
            width: 158px;
            height: 50px;
          }

          h6 {
            margin-top: 24px;
            color: #202124;
            font-family: $font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
          }

          span {
            color: #1967d2;
            font-family: $font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
          }

          p {
            margin-top: 13px;
            color: #696969;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
          }
        }

        .for-type {
          width: 65%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .box {
            display: flex;
            flex-direction: column;

            strong {
              margin-bottom: 20px;
              color: #2f2d51;
              font-family: $font;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }

            span {
              color: #696969;
              font-family: $font;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 35px;
              cursor: pointer;

              &:hover {
                color: #1967d2;
              }
            }
          }
        }
      }
    }
  }

  .bott {
    padding: 25px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ecedf2;

    .container {
      flex-direction: row;
      justify-content: space-between;

      p {
        color: #696969;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .social-media {
        width: 160px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        svg {
          color: #696969;
          cursor: pointer;

          &:hover {
            color: #bc91e8;
          }
        }
      }
    }
  }
}
